:host {
  display: block;
  font-family: system-ui, Inter, sans-serif;
}

input,
button,
select,
textarea {
  font-family: inherit;
}

input::placeholder,
textarea::placeholder {
  color: rgba(255, 255, 255, 0.25);
}

button {
  cursor: pointer;
}
